<a href="https://colab.research.google.com/github/pmfarhana25/ict_assignments/blob/main/assignment01_farhana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
a=int(input('Enter item1 price:'))
b=int(input('enter item1 quantity:'))
c=int(input('enter item2 price:'))
d=int(input('enter item2 quantity:'))
t=a*b+c*d
print("total bill=", t)

Enter item1 price:23
enter item1 quantity:34
enter item2 price:43
enter item2 quantity:12
total bill= 1298

2

In [ ]:
c=int(input('enter teap of celcius'))
f = (c*9/5)+32
print(f)

enter teap of celcius30
86.0

3

In [1]:
a=float(input("enter basic salary"))
n = a+(0.20*a)+(0.10*a)
print("net salary:",n)

enter basic salary20000
net salary: 26000.0

4

In [2]:
p = float(input("principle amount:"))
r = float(input("rate of intrest:"))
t = float(input("time:"))
si = (p*r*t)/100
print(si)

principle amount:10000
rate of intrest:5
time:2
1000.0

5

In [3]:
minutes = float(input("enter total input:"))
hours = minutes/60
print(hours)

enter total input:130
2.1666666666666665

6

In [4]:
weight_kg = float(input("enter weight in kg:"))
height_m = float(input("enter hight in m:"))
bmi = weight_kg /(height_m**2)
print("bmi:",bmi)

enter weight in kg:60
enter hight in m:1.65
bmi: 22.03856749311295

7

In [5]:
ogprice = int(input("enter the price"))
dis = ogprice -ogprice * 10/100
print(dis)

enter the price1200
1080.0

8

In [6]:
a = float(input("enter side a"))
b = float(input("enter side b"))
c = float(input("enter side c"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)
#

enter side a5
enter side b6
enter side c7
14.696938456699069

9

In [10]:
print("paint cost estimater")
l= float(input("enter length of the wall:"))
b = float(input("enter breadth of  the wall:"))
area = l*b
area_w = 2*(1.5 *1.2)
paint = area - area_w
print(paint,"sq.m")
cost = paint * 25
print(cost)

paint cost estimater
enter length of the wall:12
enter breadth of  the wall:8
92.4 sq.m
2310.0

10

In [11]:
uc = int(input("enter number of units consumed :"))
eb = float((uc*5.2)+100)
print('Electricity Bill=',eb)

enter number of units consumed :250
Electricity Bill= 1400.0