<a href="https://colab.research.google.com/github/pmfarhana25/ict_assignments/blob/main/assignment03_farhana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question 1

In [10]:
max(12,33,45)

45

question 2

In [11]:
list=[18,12,30,10,7]
s=0
for i in list:
     s=s+i
print(s)

77

question 3

In [14]:
number=[23,44,55,77,99]
number.insert(2,88)
number

[23, 44, 88, 55, 77, 99]

question 4

In [16]:
sample_dict = {"name":"kelly","age":25,"salary":8000,"city":"new york"}
sample_dict.pop("city")
sample_dict.update({"location":"new york"})
sample_dict

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'new york'}

question 5

In [17]:
sample_dict = {
'emp1':{'name':'jhon','salary':7500},
'emp2':{'name':'emma','salary':8000},
'emp3':{'name':'bred','salary':500}
}
sample_dict['emp3'] ['salary']=8500
print(sample_dict)

{'emp1': {'name': 'jhon', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 8000}, 'emp3': {'name': 'bred', 'salary': 8500}}

question 6

In [20]:
tuple1 = (11,22,33,44,55,66)
new_tuple = (tuple1[3],tuple1[4])
print(new_tuple)

(44, 55)

question 7

In [19]:
tuple1 = (50,10,60,70,50,83,567,50,81)
count_50 = tuple1.count(50)
print(f"the number of occuirence of 50 is :{count_50}")

the number of occuirence of 50 is :3